env-250132/files/essendex input.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="messages">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="accountreference"/>
        <xs:element ref="message"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="accountreference" type="xs:NCName"/>
  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="to"/>
        <xs:element ref="body"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="to" type="xs:NMTOKEN"/>
  <xs:element name="body" type="xs:string"/>
</xs:schema>
