env-250132/files/jitterbit.json.refresh_token.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="json">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="access_token" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="token_type" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="expires_in" nillable="true" type="xs:double"/>
      </xs:sequence>
      <xs:attribute fixed="true" name="object" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
